.profile__info {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .profile__info {
    padding-right: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .profile__info {
    padding-right: 244px;
    justify-content: center;
    margin: 0 0 0 20px;
  }
}
